
    <section class="hero">
        <div class="container py-4 px-11 ml-2 m-auto flex items-center justify-between">
            <div class="w-1/2">
                <h6 class="text-lg"><em>Are You Hungry?</em></h6>
                <h1 class="text-6xl font-bold">Don't Wait !</h1>
                <button class="btn-primary px-6 py-2 rounded-full font-bold text-white mt-4">Order Now</button>
            </div>
            <div class="w-1/2">
                <img src="/img/hero-pizza.png" alt="pizza">
            </div>
        </div>
    </section>
    <section class="menu container py-8 px-16 ml-2 m-auto">
            <h1 class="text-xl font-bold mb-8">All Pizzas</h1>
            <div class="mx-14 grid grid-cols-4 gap-x-12 gap-y-16">
                <div class="w-52">
                    <img src="/img/pizza.png" alt="pizza" class="mx-auto mb-4 h-40">
                    <div class="text-center">
                        <h2 class="mb-4 text-lg">Margherita</h2>
                        <span class="size px-4 rounded-full uppercase text-sm">small</span>
                        <div class="flex items-center justify-between mt-6">
                            <span class="font-bold text-lg flex items-center font-bold">₹250</span>
                            <button class="add-to-cart py-1 px-6 rounded-full">
                                <span>+</span>
                                <span class="ml-2">Add</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="w-52">
                    <img src="/img/pizza.png" alt="pizza" class="mx-auto mb-4 h-40">
                    <div class="text-center">
                        <h2 class="mb-4 text-lg">Margherita</h2>
                        <span class="size px-4 rounded-full uppercase text-sm">small</span>
                        <div class="flex items-center justify-between mt-6">
                            <span class="font-bold text-lg flex items-center font-bold">₹250</span>
                            <button class="add-to-cart py-1 px-6 rounded-full">
                                <span>+</span>
                                <span class="ml-2">Add</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="w-52">
                    <img src="/img/pizza.png" alt="pizza" class="mx-auto mb-4 h-40">
                    <div class="text-center">
                        <h2 class="mb-4 text-lg">Margherita</h2>
                        <span class="size px-4 rounded-full uppercase text-sm">small</span>
                        <div class="flex items-center justify-between mt-6">
                            <span class="font-bold text-lg flex items-center font-bold">₹250</span>
                            <button class="add-to-cart py-1 px-6 rounded-full">
                                <span>+</span>
                                <span class="ml-2">Add</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="w-52">
                    <img src="/img/pizza.png" alt="pizza" class="mx-auto mb-4 h-40">
                    <div class="text-center">
                        <h2 class="mb-4 text-lg">Margherita</h2>
                        <span class="size px-4 rounded-full uppercase text-sm">small</span>
                        <div class="flex items-center justify-between mt-6">
                            <span class="font-bold text-lg flex items-center font-bold">₹250</span>
                            <button class="add-to-cart py-1 px-6 rounded-full">
                                <span>+</span>
                                <span class="ml-2">Add</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="w-52">
                    <img src="/img/pizza.png" alt="pizza" class="mx-auto mb-4 h-40">
                    <div class="text-center">
                        <h2 class="mb-4 text-lg">Margherita</h2>
                        <span class="size px-4 rounded-full uppercase text-sm">small</span>
                        <div class="flex items-center justify-between mt-6">
                            <span class="font-bold text-lg flex items-center font-bold">₹250</span>
                            <button class="add-to-cart py-1 px-6 rounded-full">
                                <span>+</span>
                                <span class="ml-2">Add</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="w-52">
                    <img src="/img/pizza.png" alt="pizza" class="mx-auto mb-4 h-40">
                    <div class="text-center">
                        <h2 class="mb-4 text-lg">Margherita</h2>
                        <span class="size px-4 rounded-full uppercase text-sm">small</span>
                        <div class="flex items-center justify-between mt-6">
                            <span class="font-bold text-lg flex items-center font-bold">₹250</span>
                            <button class="add-to-cart py-1 px-6 rounded-full">
                                <span>+</span>
                                <span class="ml-2">Add</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="w-52">
                    <img src="/img/pizza.png" alt="pizza" class="mx-auto mb-4 h-40">
                    <div class="text-center">
                        <h2 class="mb-4 text-lg">Margherita</h2>
                        <span class="size px-4 rounded-full uppercase text-sm">small</span>
                        <div class="flex items-center justify-between mt-6">
                            <span class="font-bold text-lg flex items-center font-bold">₹250</span>
                            <button class="add-to-cart py-1 px-6 rounded-full">
                                <span>+</span>
                                <span class="ml-2">Add</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="w-52">
                    <img src="/img/pizza.png" alt="pizza" class="mx-auto mb-4 h-40">
                    <div class="text-center">
                        <h2 class="mb-4 text-lg">Margherita</h2>
                        <span class="size px-4 rounded-full uppercase text-sm">small</span>
                        <div class="flex items-center justify-between mt-6">
                            <span class="font-bold text-lg flex items-center font-bold">₹250</span>
                            <button class="add-to-cart py-1 px-6 rounded-full">
                                <span>+</span>
                                <span class="ml-2">Add</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
    </section>

